@import "node_modules/ol/ol.css";

html,
body {
  height: 100%;
  margin: 0;
  color: #4f4f4f;
  background-color: #000000;
}

#map {
  background-color: #bfe6ff;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.darkMode #map {
  background-color: #00263F;
}

:root {
  height: 100%;
  touch-action: pan-x pan-y;
}

html,
body,
#map {
  font-family: "roboto", sans-serif;
  overscroll-behavior-y: contain !important;
  padding: 0;
  width: 100%;
}

#infoGroup:has(#info:empty):has(#extraInfo:empty):has(#routeInfo:empty):has(#trafficWarning:empty) {
  display: none;
}

#batteryDiv:has(#batteryLevel:empty) {
  display: none;
}

#trafficWarning {
  background-color: #fcd006;
  border-radius: 5px;
  border: 3px solid #ee293d;
  color: black;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
}

#trafficWarning:empty {
  display: none;
}

#optionButtons {
  bottom: 0px;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 5px;
  justify-content: space-between;
  margin: 5px;
  max-width: 350px;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
}

#restoreTripButton {
  display: none;
  margin-bottom: 5px;
  width: 100%;
}

html:fullscreen div.ol-zoom {
  margin-top: max(env(safe-area-inset-top), .5em);
}

#map .ol-rotate {
  display: none;
}

.menuContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textbox {
  max-height: calc(100% - 22px);
  max-width: min(calc(100% - 30px), 40rem);
  min-width: 400px;
  background-attachment: fixed;
  background-color: rgba(251, 251, 251, 1);
  background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url("https://jole84.se/images/84.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  border-radius: 5px;
  border: 1px solid rgb(32, 32, 32);
  overflow: auto;
  padding: 10px;
  z-index: 10;
  position: absolute;
}

.textbox table {
  width: 100%;
  /* border-spacing: 5px; */
}

th, td {
  padding-top: 5px;
}

#selectFile {
  width: 100%;
  /* background-color: #ebebeb; */
}

select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  color: #999999;
}

option:checked {
  font-weight: bold;
}

#selectUpload{
  width: 100%;
}

#closeMenu {
  float: right;
}

#infoTable {
  border-collapse: collapse;
}

#infoTable th,
#infoTable td {
  padding: 0;
  margin: 0;
}

.alignCellRight {
  text-align: right;
}

.alignCellCenter {
  text-align: center;
}

.saturated {
  filter: saturate(2);
}

.form-check-input[type=checkbox] {
  margin-right: 0px;
}

.form-select {
  background-color: #fff;
  border-radius: 5px;
  color: #4f4f4f;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  padding: .375rem 2.25rem .375rem .75rem;
}

.form-control {
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid #bdbdbd;
  color: #4f4f4f;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 4.5px 12px 3.68px;
}

code {
  color: #e91e63;
}

kbd {
  background-color: #4f4f4f;
  border-radius: .25rem;
  color: #fff;
  font-size: .875em;
  padding: .1875rem .375rem;
}

.btn {
  border-radius: 5px;
  border-width: 0;
  color: white;
  cursor: pointer;
  flex: 1;
  font-family: "roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  text-transform: uppercase;
}

.btn-danger {
  background-color: #dc4c64;
}

.btn-primary {
  background-color: #3b71ca;
}

.btn-info {
  background-color: #54b4d3;
}

.btn-success {
  background-color: #14a44d;
}

.infoGroup {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  border: 1px solid rgb(32, 32, 32);
  color: rgb(32, 32, 32);
  /* font-family: "B612"; */
  /*  font-family: Arial, Helvetica, sans-serif; */
  font-weight: 500;
  font-size: 25px;
  max-height: calc(100% - 10px);
  max-width: min(20rem, calc(100% - 20px));
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  word-wrap: break-word;
  z-index: 10;
  user-select: none;
  cursor: pointer;
}

.darkMode #infoGroup {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(245, 245, 245);
}

.darkMode #optionButtons,
.darkMode #menuDiv {
  filter: invert(1) hue-rotate(180deg);
}

html:fullscreen .infoGroup {
  margin-top: env(safe-area-inset-top);
}

.infoFormat {
  font-size: 50%;
  text-transform: uppercase;
}

#maxSpeedDiv {
  font-weight: 700;
  color: #e60000;
}

#speedDiv {
  font-size: 120%;
  font-weight: 700;
}

.invisible {
  display: none !important; 
}

#extraInfo {
  font-weight: 700;
  padding-top: 0.25rem;
}

#extraInfo:empty {
  display: none;
}

.public {
  color: green;
  font-weight: bold;
}

@media (max-width: 550px) {
  #optionButtons {
    max-width: calc(100% - 10px);
  }

  #menuDiv {
    height: calc(100% - 30px);
  }
}

@media (max-height: 450px) {
  #menuDiv {
    height: calc(100% - 30px);
    flex-direction: row;
  }
}

html:fullscreen .fullscreenHide {
  display: none;
}

html:fullscreen #centerButton {
  filter: opacity(0.5);
}